<configuration>
    <conversionRule conversionWord="coloredLevel"
                    converterClass="it.univaq.sose.simplebankingrestservice.logging.LogColorLevelConverter"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %coloredLevel %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="ALL">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.apache.cxf" level="ALL"/>
</configuration>
